@media only screen and (max-width: 1024px){
	.blog-descripton {
		min-height: 305px;
		padding: 37px 20px 26px;
	}
	.blog-content {
		height: 188px;
	}
	.body-text {
		padding: 30px 5.47% 20px;
	}
	.blog-title-container {
		margin: 0 -10px;
		padding: 30px 5.47%;
	}
	.single-container {
		margin-top: 22px;
		padding: 0;
	}
}
@media only screen and (max-width: 768px){
	.blog-container.odd .col-md-6:nth-of-type(1) {
		padding-right: 15px;
	}
	.blog-image{
		text-align: center;
	}
	.blog-image .blog-details{
		transform: translateY(0);
	}
	.testimonial-container .testi-list li {
		float: none;
		list-style: outside none none;
		margin-bottom: 50px;
		width: 100%;
	}
	
}
@media only screen and (max-width: 767px){
	.navbar-toggle{
		border-radius: 0;
	}
	.navbar-toggle:hover{
		background: transparent !important;
	}
	.navbar-toggle:focus{
		background: transparent !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000;
	}
	.navigation-fluid .navbar-brand {
		margin: 30px 0;
	}
	.container .jumbotron, .container-fluid .jumbotron {
		padding: 0;
	}
	#main .jumbotron h1 {
		font-size: 20px;
		line-height: 20px;
	}
	.portfolio-gallery ul li {
		float: none;
		width: 100%;
	}
}